<div class=”container”>
  <div class=”template”>
  <h1>Welcome to Employee Portal</h1>
  </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 ">
                                <div class="copyright-text">
                                    <p>CopyRight © 2017 Digital All Rights Reserved</p>
                                </div>
                            </div> 
                        </div>
                    </div>
    </div>